html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
}

header {
	margin-bottom: 14rem;
}

header::before {
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	background: url(img/bg-image-header.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 80rem;
	z-index: -1;
}

.hero__content {
	max-width: 116rem;
	margin: 0 auto;
	padding-top: 4rem;
}

.hero__content nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}

.hero__content nav ul {
	display: flex;
	gap: 3.2rem;
	list-style: none;
}

.hero__content li a {
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.7rem;
	color: #000;
}

.hero__content li a.active {
	color: #ff902b;
}

.hero__search {
	display: flex;
	gap: 2.4rem;
}

.hero__search input {
	background-color: #fff;
	padding: 1rem 0 1rem 5.2rem;
	border-radius: 5.4rem;
	filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.13));
	border: 0;
	margin-top: 1.5rem;
}

.hero__search input:focus {
	outline: none;
}

.hero__search__input {
	position: relative;
}

.hero__search__input img {
	position: relative;
	top: 4px;
	right: 15px;
}

.hero__search input::placeholder {
	font-size: 1.2rem;
	line-height: 18px;
	font-weight: 400;
	color: #929292;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 8rem;
}

.header__content__text h1 {
	max-width: 48rem;
	font-size: 4.8rem;
	line-height: 7.2rem;
	font-weight: 600;
	color: #261b04;
}

.header__content__text h1 span {
	color: #ff902b;
}

.header__content__text p {
	font-size: 1.8rem;
	max-width: 40rem;
	line-height: 2.7rem;
	color: #7e7d7a;
	margin: 2.4rem 0 3.2rem;
}

.header__content__button {
	display: flex;
	align-items: center;
	gap: 2.6rem;
}

.header__content__button button {
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 3.3rem;
	background-color: #2f2105;
	box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
	border-radius: 33px;
	padding: 1.2rem 3.2rem;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
}

.header__content__button p {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.8rem;
	color: #f4ae26;
}

.header__content__img {
	max-width: 53rem;
}

.header__content__img img {
	display: block;
	max-width: 100%;
}

.popular__content {
	margin: 0 auto;
	max-width: 116rem;
}

.popular__content h2 {
	font-size: 3.2rem;
	font-weight: 600;
	line-height: 4.8rem;
	letter-spacing: 0.04em;
	color: #000;
}

.popular__content h2 span {
	position: relative;
}

.popular__content h2 span::before {
	content: "";
	display: inline-block;
	position: absolute;
	background: #ff902b;
	width: 7.4rem;
	height: 4px;
	border-radius: 12px;
	margin-top: 6px;
	bottom: 0;
}

.popular__content__cards {
	max-width: 114rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3.2rem;
	position: relative;
}

.popular__content__cards::after {
	content: "";
	position: absolute;
	background: url("img/popular_bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 127rem;
	height: 37rem;
	z-index: -1;
	top: 87px;
	left: -63px;
}

.content__card__border {
	padding: 0.6rem;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0.7) 100%
	);
	backdrop-filter: blur(2px);
	border-radius: 1.2rem;
}

.content__card {
	max-width: 34rem;
	background-color: #fff;
	filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
	padding: 2.4rem 1.8rem;
	border-radius: 1.2rem;
	position: relative;
}

.popular__content__card__decoration {
	background: #fff;
	width: 6.2rem;
	height: 2.6rem;
	border-radius: 5rem;
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

.content__card__text {
	max-width: 28rem;
	margin: 0 auto;
}

.popular__content__card__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
	margin-bottom: 1.2rem;
}

.popular__content__card__title h3 {
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 3.6rem;
	letter-spacing: 0.04em;
	color: #2f2105;
}

.popular__content__card__title p {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 3.6rem;
	letter-spacing: 0.04em;
	color: #2f2105;
}

.popular__content__card__buy {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.popular__content__card__buy__temperature {
	display: flex;
	gap: 2.4rem;
}

.popular__content__card__buy__temperature a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6.5rem;
	height: 3.3rem;
	border: 2px solid #ffd28f;
	padding: 1rem;
	border-radius: 0.9rem;
	font-size: 1.5rem;
	line-height: 2.2rem;
	letter-spacing: 0.06em;
	color: #ffd28f;
}

.service {
	max-width: 116rem;
	margin: 20rem auto 12rem;
}

.service h2 {
	font-size: 3.2rem;
	font-weight: 600;
	line-height: 4.8rem;
	letter-spacing: 0.04em;
	margin-bottom: 3.2rem;
	position: relative;
}

.service h2 span::before {
	content: "";
	display: inline-block;
	position: absolute;
	background: #ff902b;
	width: 12.3rem;
	height: 4px;
	border-radius: 12px;
	margin-top: 6px;
	bottom: 0;
}

.services__imgs {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.service__img {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.4rem 1.6rem;
}

.service__img img {
	margin-bottom: 1.6rem;
}

.service__img h3 {
	font-size: 2.4rem;
	line-height: 3.6rem;
	font-weight: 600;
	letter-spacing: 0.04em;
	color: #2f2105;
	margin-bottom: 0.8rem;
}

.service__img p {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.7rem;
	letter-spacing: 0.04em;
}

.about__us {
	margin-top: 20rem;
	margin-bottom: 12rem;
}

.about__us__m {
	background-image: url("img/bg_about_us.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 48rem;
}

.about__us__content {
	display: flex;
	align-items: center;
	gap: 16rem;
	max-width: 110rem;
	margin: 0 auto;
}

.about__us__content img {
	margin-top: -80px;
}

.about__us__text h2 {
	font-weight: 500;
	font-size: 3.3rem;
	line-height: 4.8rem;
	letter-spacing: 0.04em;
	color: #000;
	margin-bottom: 2rem;
	position: relative;
}

.about__us__text h3 {
	max-width: 35rem;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 3.6rem;
	letter-spacing: 0.04em;
	margin-bottom: 1.6rem;
}

.about__us__text p {
	max-width: 48rem;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.7rem;
	letter-spacing: 0.04em;
	color: #7e7d7a;
	margin-bottom: 3rem;
}

.about__us__text button {
	padding: 1rem 2.4rem;
	background: #2f2105;
	border-radius: 3.3rem;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #f4ae26;
	cursor: pointer;
}

.special__menu__cards {
	display: flex;
	gap: 3.2rem;
	justify-content: baseline;
	flex-wrap: wrap;
}

#add-to-cart {
	width: 43px;
	height: 43px;
}

.sticky {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 80%;
	background-color: rgba(246, 235, 218, 0.7);
	border-radius: 25px;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.cart-item table {
	width: 100%;
}

.cart-item table tr {
	border-bottom: 1px solid #ccc;
}

.cart-item table tr td {
	padding: 10px 0;
}

.cart-item table tr td img {
	width: 100px;
}

.cart-item table tr td h3 {
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 2.7rem;
	letter-spacing: 0.04em;
	color: #2f2105;
	margin-bottom: 0.8rem;
}

.cart-item table tr td p {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.7rem;
	letter-spacing: 0.04em;
	color: #7e7d7a;
	margin-bottom: 0.8rem;
}

.cart-item table tr td button {
	padding: 1rem 2.4rem;
	background: #2f2105;
	border-radius: 3.3rem;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #f4ae26;
	cursor: pointer;
}
